.nav-bar {
  height: 50px;
  width: 100vw;
  color: #ffffff;
  background-color: #415dd8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  &__tittle {
    &>h1 {
      font-size: 35px;
    }
  }
}

.active-link {
  color: red;
}

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: gray;

  &__content {
    height: 100vh;
    background-color: white;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 1rem 2rem;
  }
}
