.post {
  margin: 5rem auto 15rem;
  max-width: 600px;

  &__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    &>h3 {
      font-size: 1.3rem;
    }

    &>p {
      font-size: 1.2rem;
      text-align: end;
      white-space: nowrap;
    }
  }

  &__description {
    background-color: white;
    padding: 1.2rem;
    border-radius: 10px;

    p {
      letter-spacing: 1.5px;
      line-height: 1.2rem;
    }
  }
}


.similar-posts {
  border: 2px rgb(73, 73, 73) solid;
  margin: 2rem auto;
  max-width: 500px;
  padding: 3rem 3rem 2rem;
  border-radius: 10px;


  &::before {
    content: 'Similar announcement';
    display: inline-block;
    transform: translateY(-4.1rem);
    background-color: #f0f0f0;
    font-size: 1.2rem;
    padding: 0 4px;
  }

  &__detail {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>h3 {
      font-size: 1rem;
    }

    &>p {
      font-size: .9rem;
      text-align: end;
      white-space: nowrap;
    }
  }

  &__description {
    position: relative;
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 10px;
    margin: 1rem 0 2rem;

    transition: background .3s ease-in;

    &:hover {
      background-color: rgb(228, 228, 228);
    }

    p {
      letter-spacing: 1.5px;
      line-height: 1.2rem;
      font-size: .7rem;
    }
  }
}
