/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none
}

// .form-control {
//   display: block;
//   color: #888;
//   margin-bottom: .8rem;

//   &.invalid {
//     color: var(--primary-color);

//     input {
//       border-color: var(--primary-color);
//     }
//   }

//   .validation {
//     color: var(--primary-color);
//   }
// }

// input[type='text'],
// input[type='email'],
// input[type='password'],
// input[type='date'],
// select,
// textarea {
//   display: block;
//   width: 100%;
//   padding: 0.4rem;
//   font-size: 1.2rem;
//   border: 1px solid #ccc;
// }

// input[type='submit'],
// button {
//   font: inherit;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
// }

// table th,
// table td {
//   padding: 1rem;
//   text-align: left;
// }

// table th {
//   background: var(--light-color);
// }

// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0.7rem 2rem;
//   z-index: 1;
//   width: 100%;
//   opacity: 0.9;
//   margin-bottom: 1rem;

//   &.main {
//     justify-content: center;
//     border-bottom: 1px solid var(--dark-color);
//   }

//   ul {
//     display: flex;
//   }

//   li.active a {
//     color: var(--dark-color);
//     font-weight: bold;
//     cursor: default;
//   }

//   a {
//     color: #fff;
//     padding: 0.45rem;
//     margin: 0 0.25rem;

//     &:hover {
//       color: var(--light-color);
//     }
//   }
// }
