@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none
}


html,
body {
  font-family: 'Poppins', sans-serif;
}

form {
  max-width: 600px;
  margin: 0 auto;

  .form-control {
    display: block;
    color: #888;
    margin-bottom: 0.8rem;

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      border: 1px solid #ccc;
      resize: none;
    }

    textarea {
      height: 200px;
    }

    .error {
      color: rgb(218, 73, 73);
    }
  }
}

.btn {
  background-color: rgba($color: #000000, $alpha: 0.0);
  color: #000;
  font-size: 18px;
  border: 2px#000 solid;
  width: 130px;
  height: 40px;
  transition: all .3s ease;
  user-select: none;

  &:hover {
    background-color: #e6e6e6;
  }

  &:active {
    background-color: #cacaca;
  }

  &:disabled {
    color: rgb(54, 54, 54);
    background-color: rgb(63, 63, 63);
    cursor: not-allowed;
  }
}

@media(max-width:767px){
  html,body{
    font-size: 9px;
  }
}
@media(max-width:576px){
  html,body{
    font-size: 6px;
  }
}
